backend:
  name: github
  repo: YorkMusicForum/ymf-online-courses
  branch: main

media_folder: "static/uploads"
public_folder: "/static/uploads"

collections:
  - name: "courses"
    label: "Courses"
    folder: "courses"
    create: true
    slug: "{{slug}}"
    fields:
      - { name: "title", label: "Course Title", widget: "string" }
      - label: "Content Blocks"
        name: "blocks"
        widget: "list"
        types:
          - label: "Text"
            name: "text"
            widget: "object"
            fields:
              - { label: "Text", name: "text", widget: "markdown" }

          - label: "Image"
            name: "image"
            widget: "object"
            fields:
              - { label: "Image File", name: "image", widget: "image" }
              - { label: "Alt Text", name: "alt", widget: "string", required: false }

          - label: "Audio"
            name: "audio"
            widget: "object"
            fields:
              - { label: "Audio File", name: "audio", widget: "file", media_library: { config: { multiple: false } } }
              - { label: "Caption", name: "caption", widget: "string", required: false }

          - label: "PDF (Sheet Music)"
            name: "pdf"
            widget: "object"
            fields:
              - { label: "PDF File", name: "pdf", widget: "file" }
              - { label: "Description", name: "description", widget: "string", required: false }
